.container {
    background-color: #FFD2D2;
    margin: 5% auto;
    border-radius: 10px; 
    width: 80vw; 
    max-width: 1000px;
    min-height: 700px;
    overflow-y: auto; /*할일이 늘면 크기도 같이 늘도록*/
}
.maintext {
  font-size: 50px;
  text-align: center;
  font-family : Times New Roman;
}

