.todolist {
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    font-family: 돋움;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.check-button {
    display: flex; 
    align-items: center;
    margin-left: 10px;
    
}

.text {
    flex: 1; 
    margin-left: 10px;
    text-align: left;
}

.modify-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.remove-button {
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
}
